.form2{
    border-radius: 20px;
    padding: 40px 100px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .1);
}

.form-login{
    width: 26.25;
    border-radius: 10px solid;
    border: 20px;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.form-login h1{
    font-size: 36px;
    color: black;
    text-align: center;
}

.form-login .caja-input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0px 10px 0px;
}

.caja-input input{
    width: 100%;
    height: 100%;
    border: none;
    border: 2px solid rgba(17, 3, 3, 0.785);
    border-radius: 50px;
    color: black;
    padding: 5px 30px 5px 20px;
    right: 50px;
    left: 50px;
    box-sizing: border-box;
}

.caja-input input::placeholder{
    color:black;
}

.caja-input img{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.form-login .btn{
    width: 50%;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin-left: 50px;
}
.btn a{
    color: black;
    text-decoration: none;
}